
<div class="card bg-dark text-white" style="margin-top: 0%; padding: 0%;" id="card">
        <img src="/assets/floor-1846849.jpg" class="card-img" alt="..." style="max-height: 300px; box-sizing: border-box">
        <div class="card-img-overlay">
          <h5 class="card-title">Welcome</h5>
          <p class="card-text">Welcome to BeanCounter!  We are the premier financial management app Zip Code Wilmington.</p>
          <p class="card-text">Please log in or register</p>
        </div>
      </div>
      <!-- <div class="row" style="margin-top: 10%; margin-bottom: auto;" >
            <img class="card-img-overlay" src="https://images.unsplash.com/photo-1449496967047-2a322e78ec26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80"alt="card-img-overlay">
            <div class="card-body">
              <h5 class="card-title">Welcome</h5>
              <p class="card-text">Welcome to BeanCounter!  We are the premier financial management app Zip Code Wilmington.</p>
              <p class="card-text">Please log in or register</p>
            </div>
          </div> -->