
<!-- <h3>Log In</h3> -->

<div class="row" style="margin-top: 10%; margin-bottom: auto;" >
    <img class="card-img-top" src="https://image.flaticon.com/icons/svg/138/138662.svg" class="mx-auto d-block" alt="Card image cap">
    <div class="card-body" >
      <h5 class="card-title">Login</h5>
      <p class="card-text">Please Login. </p>
      Email:    <input id="emailLogin" type="email" name="email" size="35" style="padding-left: 0%"><br>
      Password: <input id="passwordLogin" type="password" name="password" size="35"><br>
      <button (click)="login()" alt="Submit" width="48" height="48">Submit</button>
    </div>
  </div>
