<div class="row">
    <div class="card col-md-4 offset-md-4 custom_panel" style="margin-top: 5%;">
        <h3 style="text-align: center;">Withdraw</h3>
        
        <p>Select Account:</p>
        <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedAccount">
            <option *ngFor="let account of userAccounts" [ngValue]="account">
                acc # {{account.id}}, ${{account.balance}}
            </option>
        </select>

        <form class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input [(ngModel)]="withdrawAmount" type="number" placeholder="enter amount" class="form-control" aria-label="Amount" name="withdrawNumber">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Memo</span>
                </div>
                <input [(ngModel)]="memo" type="text" placeholder="enter text" class="form-control" aria-label="Memo" name="withdraw-memo">
            </div>
            <button class="btn btn-primary col-md-6 offset-md-3" (click)="withdraw()" style="margin-top: 3%;">Withdraw</button>
        </form>
    </div>
</div>