<div class="row" style="margin-top: 10%; margin-bottom: auto;" >
    <img src="" class="mx-auto d-block" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Withdraw</h5>
      <p class="card-text">Select the account from which you would like to withdraw funds.</p>
      <select [(ngModel)]="selectedAccount">
        <option *ngFor="let account of userAccounts" [ngValue]="account">
            acc # {{account.id}}, ${{account.balance}}
        </option>
    </select>
    <input [(ngModel)]="withdrawAmount" type="number">
    <div>
        <button class="button" (click)="withdraw()">Withdraw</button>
    </div>
    </div>
  </div>