<div class="row">
    <div class="card col-md-4 offset-md-4 custom_panel" style="margin-top: 3%;">
        <div style="margin: 3%">
            <form>
                <h3 style="text-align: center;">Create User: </h3>
                <div class="form-group">
                    <label for="emailCreateUser"><p>Email address</p></label>
                    <input type="email" class="form-control" id="emailCreateUser" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted"><p>We'll never share your email with anyone else.</p></small>
                </div>
                <div class="form-group">
                    <label for="passwordCreateUser"><p>Password</p></label>
                    <input type="password" class="form-control" id="passwordCreateUser" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="firstNameCreateUser"><p>First Name</p></label>
                    <input type="text" class="form-control" id="firstNameCreateUser" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastNameCreateUser"><p>Last Name</p></label>
                    <input type="text" class="form-control" id="lastNameCreateUser" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="userNameCreateUser"><p>Username</p></label>
                    <input type="text" class="form-control" id="userNameCreateUser" placeholder="Username">
                </div>
                <button type="submit" class="btn btn-primary col-md-4 offset-md-4" (click)="createUser()">Submit</button>
            </form>
        </div>
    </div>
</div>
