<h3>Create New User</h3>

<form>
        Email:    <input id="emailCreateUser" type="email" name="email" size="35"><br>
        Password: <input id="passwordCreateUser" type="password" name="password" size="35"><br>
        First: <input id="first" type="text" name="first" size="35"><br>
        Last: <input id="last" type="text" name="last" size="35"><br>
        User: <input id="user" type="text" name="user" size="35"><br>
        <button (click)="createUser()" alt="Submit" width="48" height="48">Submit</button>
      </form>
