@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
 
  #navbar{
     background-color: rgba(129, 105, 75, 0) !important;
     background-image: url("/assets/floor-1846849.jpg") !important;
     background-position: bottom center;
     background-size: cover;
     background-repeat: no-repeat;
     -webkit-box-shadow: -1px 6px 6px 1px rgba(0,0,0,0.29); 
     box-shadow: -1px 6px 6px 1px rgba(0,0,0,0.29);
     border-collapse: collapse;
  }
 
  .navbar .navbar-brand {
    color: #f8fbfb;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #f8fbfb;
  }
  .navbar .navbar-text {
    color: #f8fbfb;
  }
 
  .btn {
      background-color: darkolivegreen !important;
      border-color: rgb(80, 100, 44) !important;
  }
  .navbar .navbar-brand {
    padding-top: 5px;
    width: 220px;
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    font-optical-sizing: 30px;
}
/* #app-buttons{
    -webkit-box-shadow: -1px 6px 6px 1px rgba(0,0,0,0.29); 
    box-shadow: -1px 6px 6px 1px rgba(0,0,0,0.29);
} */
