<!-- <h3>Deposit</h3> -->
    <!-- <div class="row">
        <div class="col=sm"> -->
            <!-- Select Account: -->
           
        <!-- </div>
    </div> -->
<!-- <div> -->

    
<!-- </div> -->
<div class="row" style="margin-top: 10%; margin-bottom: auto;" >
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Make a Deposit</h5>
      <p class="card-text">Select the account into which you would like to deposit funds.</p>
      <select [(ngModel)]="currentAccountTo" (ngModelChange)="setCurrentAccountTo(currentAccountTo)">
        <option *ngFor="let acc of accounts" [ngValue]="acc">
            {{acc.id}}, ${{acc.balance}}
        </option>
        <p>
            <input type="text" name="value" placeholder="enter amount" id='amount'/>
            <input onclick="depositFunds()" type="button" value='Make_Deposit'/>
        </p>
    </select>
  </div>