<div class="row">
    <div class="card col-md-4 offset-md-4 custom_panel" style="margin-top: 5%;">
        <h3 style="text-align: center;">Deposit</h3>

        <p>Select Account:</p>
        <select class="custom-select custom-select-lg mb-3" [(ngModel)]="currentAccountTo" (ngModelChange)="setCurrentAccountTo(currentAccountTo)">
            <option *ngFor="let acc of userAccounts" [ngValue]="acc">
               Account no. {{acc.id}},  Balance ${{acc.balance}}
            </option>
        </select>
        
        <div>
            <form class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" placeholder="enter amount" class="form-control" aria-label="Amount" id="amount">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Memo</span>
                    </div>
                    <input type="text" placeholder="enter text" class="form-control" aria-label="memo" id="deposit-memo" [(ngModel)]="memo" name="deposit-memo">
                </div>
                <button id="amount" class="col-md-6 btn btn-primary offset-md-3" style="margin-top: 3%;" (click)="depositFunds()">Make Deposit</button>
            </form>
        </div>
    </div>
</div>
