<h3>Transfer</h3>
<!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"   aria-expanded="false">
        Choose Account
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <a class="dropdown-menu" href="#" *ngFor="let accountItem of accounts">
            thpp
        </a>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col=sm">
            <select [(ngModel)]="currentAccountFrom" (ngModelChange)="setCurrentAccountFrom(currentAccountFrom)">
                <!-- <option value="" disabled selected hidden>Account From</option> -->
                <option *ngFor="let userAcc of userAccounts" [ngValue]="userAcc">
                    {{userAcc.id}}, ${{userAcc.balance}}
                </option>
            </select>
        </div>
        <div class="col=sm">
                <select [(ngModel)]="currentAccountTo" (ngModelChange)="setCurrentAccountTo(currentAccountTo)">
                    <option *ngFor="let acc of accounts" [ngValue]="acc">
                        {{acc.id}}, ${{acc.balance}}
                    </option>
                </select>
            </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm" *ngIf="currentAccountFrom">
            Balance: {{currentAccountFrom.balance}}
        </div>
        <div class="col-sm" *ngIf="currentAccountTo">
                Balance: {{currentAccountTo.balance}}
            </div>
    </div> -->
</div>
<div>
    Transfer Amount: $<input [(ngModel)]="transferAmount" type="number">
</div>
<div>
    Amonut transfered: {{transferAmount}}
</div>
<button type="submit" [disabled]="!currentAccountFrom || !currentAccountTo || !transferAmount" (click)="makeTransaction()">Transfer</button>
<!-- <div>
            <ul class="search-result">
                    <li *ngFor="let accItem2 of accounts" >
                            {{accItem2.id}}
                    </li>
                </ul>
    </div> -->

<div>
    Balance: <p *ngIf="currentAccountFrom">{{currentAccountFrom.balance}}</p>
</div>
<button (click)="clearAccount()">Clear</button>
<br>
<br>
