<div class="row">
    <div class="card col-md-4 offset-md-4 custom_panel" style="margin-top: 5%;">
        <h3>Transfer</h3>

        <label><p>From Account:</p></label>
        <select class="custom-select custom-select-lg mb-3" [(ngModel)]="currentAccountFrom" (ngModelChange)="setCurrentAccountFrom(currentAccountFrom)">
            <option *ngFor="let userAcc of userAccounts" [ngValue]="userAcc">
              Account no. {{userAcc.id}}, Balance ${{userAcc.balance}}<span *ngIf="userAcc.purpose">: {{userAcc.purpose}}</span>
            </option>
        </select>
        
        <label><p>To Account:</p></label>
        <select class="custom-select custom-select-lg mb-3" [(ngModel)]="currentAccountTo" (ngModelChange)="setCurrentAccountTo(currentAccountTo)">
            <option *ngFor="let acc of filterAccountFromAccountList(currentAccountFrom, userAccounts)" [ngValue]="acc">
                {{acc.id}}, ${{acc.balance}}<span *ngIf="acc.purpose">: {{acc.purpose}}</span>
            </option>
        </select>
        
        <!-- <label><p>Amount Transfered:</p></label> -->
        <form class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
                <input class="form-control" [(ngModel)]="transferAmount" type="number" placeholder="Transfer Amount" name="transferAmountInput">
            </div>
            <div class= "input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">Memo</span>
                </div>
                <input class="form-control" [(ngModel)]="memo" type="text" placeholder="Enter text" name="transfer-memo">
            </div>
            <button type="submit" [disabled]="!currentAccountFrom || !currentAccountTo || !transferAmount" 
                class="btn btn-primary col-md-6 offset-md-3" style="margin-top: 2%;" (click)="makeTransaction()">Transfer</button>
        </form>
        
            <!-- <p>Balance:</p> <p *ngIf="currentAccountFrom">{{currentAccountFrom.balance}}</p>
        <button class="btn btn-primary" style="margin: 2%;" (click)="clearAccount()">Clear</button> -->
    </div>
</div>
