
 body {
    background-image: url("assets/money-2724241.jpg");
    background-position: top center;
    /* background-position-y: %; */
    background-size: 100% 112%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	}
	
.custom_panel {
	background:transparent url('/assets/floor-1846849.jpg') no-repeat center center /cover;
	filter: saturate(0.7);
}

/* separate p from below if p centering becomes an issue */
.custom_panel h5, h3, p {
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}

.btn {
	background-color: darkolivegreen !important;
	border-color: rgb(80, 100, 44) !important;
}