
 body {
    background-image: url("assets/money-2724241.jpg");
    background-position: top center;
    /* background-position-y: %; */
    background-size: 100% 112%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }